@using MessHall.Models
@model Recipe




<!-- This view displays a recipe in List.cshtml -->
<!-- List will iterate through the database using this view to generate the UI for the recipes-->
<div class="row">
    <div class="col-lg-12">
        <div class="card" style="margin-bottom: 1em;">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                
                <div class="card-footer">

                    <a class="btn btn-info"
                       asp-page="./Detail"
                       asp-route-recipeId="@Model.RecipeId">
                        <i class="far fa-list-alt fa-lg"></i>
                    </a>

                    <a class="btn btn-secondary"
                       asp-page="./Edit"
                       asp-route-recipeId="@Model.RecipeId">
                        <i class="far fa-edit fa-lg"></i>
                    </a>

                    <a class="btn btn-danger"
                       asp-page="./Delete"
                       asp-route-recipeId="@Model.RecipeId">
                        <i class="far fa-trash-alt fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>